[submodule "library/Smarty"]
	path = library/Smarty
	url = https://github.com/smarty-php/smarty.git
[submodule "library/Chart.js"]
	path = library/Chart.js
	url = https://github.com/chartjs/Chart.js.git
[submodule "library/Mobile_Detect"]
	path = library/Mobile_Detect
	url = https://github.com/serbanghita/Mobile-Detect.git
[submodule "library/colorbox"]
	path = library/colorbox
	url = https://github.com/jackmoore/colorbox.git
[submodule "library/datetimepicker"]
	path = library/datetimepicker
	url = https://github.com/xdan/datetimepicker.git
[submodule "library/perfect-scrollbar"]
	path = library/perfect-scrollbar
	url = https://github.com/noraesae/perfect-scrollbar.git
[submodule "library/tinymce"]
	path = library/tinymce
	url = https://github.com/tinymce/tinymce.git
